 <ion-tabs >
  <ion-tab-bar slot="bottom" color="primary">
    <ion-tab-button tab="videos">
      <ion-icon src="./assets/sample-icons/tabs/categories.svg"></ion-icon>
      <ion-label class="tab-title">فيديوهات</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="audios">
      <ion-icon src="./assets/sample-icons/tabs/profile.svg"></ion-icon>
      <ion-label class="tab-title">صوتيات</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="articles">
      <ion-icon src="./assets/sample-icons/tabs/notifications.svg"></ion-icon>
      <ion-label class="tab-title">مقالات</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
