<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      الصوتيات
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content full class="notifications-content">

    <ion-row class="image-row">
        <ion-col size="12">
          <app-image-shell [mode]="'cover'" animation="spinner" class="add-overlay details-image" src="./assets/sample-images/travel/travel-details-image.png">
            <app-aspect-ratio [ratio]="{w:64, h:50}">
              <!-- <div class="icon-wrapper">
                <app-aspect-ratio [ratio]="{w: 47, h: 25}">
                  <app-image-shell src="./assets/sample-images/travel/travel-details-image.png" class="details-icon"></app-image-shell>
                </app-aspect-ratio>
              </div> -->
              <div class="icon-wrapper" dir="ltr">

              <ion-row  *ngIf="activeTrack " dir="ltr">
                  <ion-col size="12" class="ion-text-center" style=" text-align: center" color="primary">
                      <h1 style="color: #cb933e">{{ activeTrack.name }}</h1>
             </ion-col>
                  <ion-col size="12" >
                    <ion-range   #range [(ngModel)]="progress" max="100"  (touchend)="seek()" (mouseup)="seek()" ></ion-range>
                </ion-col>
                <ion-col size="12" style=" text-align: center">
                <ion-button fill="clear" (click)="prev()"> 
                  <ion-icon slot="icon-only" name="skip-backward"></ion-icon>
                </ion-button>   
                
                <ion-button fill="clear" (click)="togglePlayer(false)" *ngIf="!isPlaying"> 
                    <ion-icon slot="icon-only" name="play"></ion-icon>
                  </ion-button>   
                  <ion-button fill="clear"  (click)="togglePlayer(true)" *ngIf="isPlaying"> 
                      <ion-icon slot="icon-only" name="pause"></ion-icon>
                    </ion-button>  
            
                    <ion-button fill="clear"  (click)="next()"> 
                        <ion-icon slot="icon-only" name="skip-forward"></ion-icon>
                      </ion-button>  
             </ion-col>
                </ion-row>
                </div>
            </app-aspect-ratio>
          </app-image-shell>
        </ion-col>
      </ion-row>
  <ng-container *ngIf="playList" >


<div *ngFor="let track of playList;let i = index">
    <ion-item-group >
      <ion-item-divider sticky>
        <ion-label>{{ track.name }}</ion-label>
      </ion-item-divider>
      <ion-item class="notification-item" lines="none" *ngFor="let track of playList;let i = index" >
        <ion-row class="notification-item-wrapper" >
          <ion-col size="2">
            <app-aspect-ratio [ratio]="{w: 1, h: 1}">
              <app-image-shell class="notification-image" [src]="track.image" [alt]="'user image'"></app-image-shell>
            </app-aspect-ratio>
          </ion-col>
          <ion-col class="details-wrapper">
            <h2 class="details-name">{{ track.name }}</h2>
            <!-- <p class="details-description">{{ notification.message }}</p> -->
          </ion-col>
          <ion-col size="2" class="date-wrapper">
            <ion-button (click)="start(track)" *ngIf="activeTrack  != track"> 
              <ion-icon slot="icon-only" name="play"></ion-icon>
            </ion-button>   
            <ion-button   (click)="stop()" *ngIf="activeTrack == track"> 
                <ion-icon slot="icon-only" name="pulse"></ion-icon>
              </ion-button>  

          </ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group>


    </div>
  </ng-container>
</ion-content>
